*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(185, 212, 212);
    background-color: rgb(42, 41, 63);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width:1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    
}

#entrada {
    background-color: rgb(185, 212, 212);
    color: rgb(42, 41, 63);
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 100px;
    margin-top: 40px;
}

input {
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px 15px 5px 5px;
}

#qtd {
    width: 50px;
}

#categoria {
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    margin-right: 15px;
}

button {
    background-color: rgb(92, 86, 153);
    color: white;
    font-weight: 700;
    border: 0px;
    border-radius: 20px;
    padding: 9px 20px;
    margin: 0px 3px;
}

button:hover {
    background-color: rgb(63, 56, 145);
}

#lista {
    color: rgb(185, 212, 212);
    
    margin-top: 40px;
}

#lista-compras {
    display: none;
    margin-bottom: 60px;
}

#compras-concluidas{
    display: none;
}

.card {
    color: rgb(42, 41, 63);
    border-radius: 20px;
    width: 170px;
    padding: 10px;
    margin: 10px;
    display: inline-table;
    align-items: center;
}

.card h3 {
    font-size: 1.1em;
    margin:  5px;
    text-align: center;
}

.card p {
    margin: 10px auto;
}

.card button {
    font-weight: 100;
    padding: 10px 10px;
}

#compras-concluidas .card {
    filter: grayscale(50%) brightness(50%);  
    /*box-shadow: 0px 0px 10px rgb(40, 255, 2);*/
}

#compras-concluidas button {
    display: flex;
    margin: auto;
}

.Alimentos {
    background-color: rgb(192, 137, 119);
}

.Limpeza {
    background-color: rgb(109, 145, 202);
}

.Higiene {
    background-color: rgb(98, 172, 149);
}

.editing {
    box-shadow: 0px 0px 20px rgb(198, 244, 255);
}